<?xml version="1.0" ?>
<config>
    <modules>
        <Ailin_Content>
            <version>0.0.1</version>
        </Ailin_Content>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ailin_Content before ="Mage_Adminhtml">Ailin_Content_Adminhtml</Ailin_Content>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ailin_content>
                    <file>content.xml</file>
                </ailin_content>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <ailin_content>
                <class>Ailin_Content_Model</class>
                <resourceModel>ailin_content_resource</resourceModel>
            </ailin_content>
            <ailin_content_resource>
                <class>Ailin_Content_Model_Resource</class>
                <entities>
                    <page>
                        <table>ailin_content_page</table>
                    </page>
                    <comment>
                        <table>ailin_content_comment</table>
                    </comment>
                </entities>
            </ailin_content_resource>
        </models>
           <resources>
            <ailin_content_setup>
                <setup>
                    <module>Ailin_Content</module>
                </setup>
            </ailin_content_setup>
        </resources>
        <blocks>
            <ailin_content>
                <class>Ailin_Content_Block</class>
            </ailin_content>
        </blocks>
        <helpers>
            <ailin_content>
                <class>Ailin_Content_Helper</class>
            </ailin_content>
        </helpers>
    </global>
 </config>